/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #606266db;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.overall {
    border: 1px solid #eee;
    margin-bottom: 300px;
    .main{
        padding: 0px !important;
        td.play {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            background-image:url('./assets/undertint_play.png');
        }
        td.play:hover {
            cursor:pointer;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            background-image:url('./assets/dark_play.png');
        }
        .table-header th{
            background: #82848a08;
            border-bottom: 1px solid #30313347 !important;
        }
        /* 点击事件*/
        // .playing {
        //     cursor:pointer;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: 20px;
        //     background-image:url('./assets/red_play.png');
        // }
    }
    
}
.top {
    border-radius: 64px !important;
    padding: 13px !important;
    position: fixed;
    bottom: 200px;
    right: 70px;
}






