/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
// $--color-primary: #606266db;

/* icon font path, required */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";

.overall {
    border: 1px solid #eee;
    margin-bottom: 50px;
    .main{
        padding: 0px !important;
        .musicTable {
            tr:nth-of-type(2n) {
                background: #6062660f;
            }
        }
        td.play {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            background-image:url('./assets/list/undertint_play.png');
            &:hover {
                cursor:pointer;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                background-image:url('./assets/list/dark_play.png');
            }
        }
        .table-header{
            th {
                background: #82848a08;
                border-bottom: 1px solid #30313347;
            }
        }
        .clickPlay {
            background-image:url('./assets/list/red_play.png') !important;
        }
        /* 点击事件*/
        // .playing {
        //     cursor:pointer;
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: 20px;
        //     background-image:url('./assets/list/red_play.png');
        // }
    }
    
}






